.App {
  text-align: center;
}
.suggestions-list li{
  list-style-type: none;
}

.typeahead-container {
  position: relative;
  width: 300px; /* Adjust as needed */
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f4f4f4;
}

input{
  padding: 5px;
}